// green
green-border = #73f956
green-entity = #8fd28f
green-counter = #2aad2a
// red
red-border = #FB4444
red-entity = #FF6D6D
red-counter = #c32f2f
// purple
purple-border = #8033A7
purple-entity = #9A56BC
purple-counter = #641a88
// blue
blue-border = #455FBD
blue-entity = #4E6CDA
blue-counter = #0D2373
