@import "../blocks/wrapper/wrapper"
@import "../blocks/achievement/achievement"
@import "../blocks/counter/counter"

.container
    max-width 900px
    margin 0 auto

.achievement-list
    counter-reset achievement
    list-style-type none
    display flex
    flex-wrap wrap
    padding 0

.achievement-list__element
    margin 10px
