.achievement-list__item
    position relative
    width 90px
    height 90px
    background #333
    border-radius 50%
    top 5px
    left 5px
    z-index 1
    display flex
    align-items center
    justify-content center

.achievement-list__image
    width 42px
    height 42px